.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 6rem;
}

.main2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.main3 {
    width: 100%;
}

.title {
    font-size: 3.5rem;
}

.box1 {
    border-radius: 1rem;
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    background-color: $grey-900;
    padding: 3rem;
    color: $white;
    gap: 1rem;

    &__bal {
        font-weight: 700;
        font-size: 3.5rem;
    }
}

.box2 {
    border-radius: 1rem;
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 2rem;
    gap: 1rem;
}

.subtitle {
    color: $grey-100;
    font-size: 1.3rem;
}
